html, body {
	margin: 0;
	padding: 0;
	background-color: #CC9;
	font-family: 'Open Sans', sans-serif;
}

#uc {
	text-shadow: grey 0px 3px 3px;
	font-size: 5em;
	text-align: center;
	margin-top: 200px;
}

footer {
	text-align: center;
	margin-top: 100px;
	color: #333;
}

a {
	text-decoration: none;
	color: #333;
}

a:hover {
	color: #666;
	text-decoration: underline;
}